

.Future-Goal{
  height: 100px;
}
body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  color: #66BFBF;
  font-size: 5.625rem;    /*100% gives 16px = 1em size.So we need 90px/16 = 562% = 5.62em*/
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-weight: normal;
  font-size:2.5rem; /* 40px/60 = 2.5rem*/
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p{
    line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin: 100px 0;
}

.bottom-container{

}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align:left;

}
.Pro{
  text-decoration: underline;
}

.intro{
  width: 30%;
  margin: auto;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
 }
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
 }

 .profile-img{
   width: 15%;
 }

 .skills-image{
   width: 25%;
   float: left;
   margin-right: 30px;
 }

 .skills-row-image{
   width: 25%;
   float: right;
   margin-left: 30px;
 }

 /*.code-skill-description{
   clear: left;
 }

 .developer-skill-Challenge{
   clear: right;
 }*/
